<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.restdemoapp.web.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDataServlet</servlet-name>
        <servlet-class>ch.heigvd.amt.restdemoapp.web.TestDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/CompanyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDataServlet</servlet-name>
        <url-pattern>/generateTestData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
